/* Main container styling */
.donate-container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
}

/* Donation message styling */
.donate-message {
    font-size: 1.1rem;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.5;
    width: 80%;
    text-align: center;
}

/* Bitcoin QR code styling */
.qr-code {
    max-width: 200px;
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    border: solid 1px #000;
}

/* Bitcoin address styling */
.bitcoin-address {
    font-size: 1rem;
    color: #333;
    word-wrap: break-word;
    margin-bottom: 20px;
}

/* Button styling */
.donate-button {
    display: flex;
    width: 230px;
    height: 40px;
    margin: 10px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: solid 1px #000;
    align-items: center;
    justify-content: center;
}

.patreon-btn {
    background-color: #f96854;
}

.coffee-btn {
    background-color: #ffdd00;
    color: #333;
}

/* Hover effects */
.donate-button:hover {
    opacity: 0.9;
}

/* Responsive adjustments */
@media (max-width: 600px) {

    .donate-message {
        font-size: 1rem;
    }

    .donate-button {
        width: 250px;
        height: 40px;
        font-size: 0.9rem;
    }

    .bitcoin-address {
        font-size: 0.9rem;
    }
}