.main {
    margin-top: 80px;
}

/* Container Styling */
.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    /* Spacing between buttons */
    padding: 2rem;
    max-width: 800px;
    /* Center the container */
    background-color: #fff;
    /* Background color for the container */
    border-radius: 8px;
}

/* Button Styling */
.grid-button {
    padding: 1rem;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    /* Change to your preferred color */
    border: solid 1px #000;
    /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.grid-button img {
    width: 40px;
}

.grid-button button {
    background: transparent;
    border: none;
    width: calc(100%-40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button Hover Effect */
.grid-button:hover {
    background-color: #eaff00;
    /* Darker shade for hover effect */
}

/* Responsive Design */
@media (max-width: 768px) {
    .grid-button {
        font-size: 0.9rem;
        /* Smaller font size for mobile */
    }
}

/* Title Styling */
.tools-title {
    font-size: 1.4rem;
    text-align: center;
    color: #333;
    font-weight: bold;
}